body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: #1D1D20;
    font-family: 'Montserrat', sans-serif;
}

header {
    color: #46C2FF;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    width: 100%;
    top: 0;
    position: absolute;
}

.top-three-sections {
    position: absolute;
    top: 10%;
    display: flex;
    align-items: center;
    height: 30%;
    width: 100%;
    justify-content: space-around;
}

.each-top-section {
    border: 0.5px solid #46C2FF;
    height: 100%;
    width: 28%;
    border-radius: 10px;
}

.two-graphs {
    position: absolute;
    top: 42%;
    width: 100%;
    height: 56%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.each-graph {
    border: 0.5px solid #46C2FF;
    height: 100%;
    width: 45%;
    border-radius: 10px;
}

.section-header {
    color: #46C2FF;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

.graph {
    font-size: 2.3rem;
}

.section-info {
    position: relative;
    /* border: 0.5px solid red; */
    /* left: 2%; */
    /* margin: 4%; */
    display: flex;
    justify-content: center;
    width: 90%;
    height: 80%;
    margin: auto;
    top: 2%;
}

.intro-span {
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: 300;
    color: #d1d1d1;
}

.profile {
    border-radius: 50%;
    height: 42%;
    top: 55%;
    position: absolute;
    left: 75%;
}