body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: #1D1D20;
    font-family: 'Montserrat', sans-serif;
}

header {
    color: #46C2FF;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    width: 100%;
    top: 0;
    position: absolute;
}

.top-three-sections {
    position: absolute;
    top: 10%;
    display: flex;
    align-items: center;
    height: 24%;
    width: 100%;
    justify-content: space-around;
    color: #d1d1d1;
}

.each-top-section {
    border: 0.5px solid #46C2FF;
    height: 100%;
    width: 28%;
    border-radius: 10px;
}

.two-graphs {
    position: absolute;
    top: 37%;
    width: 100%;
    height: 62%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.each-graph {
    border: 0.5px solid #46C2FF;
    height: 100%;
    width: 45%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header {
    color: #46C2FF;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

.graph-title {
    font-size: 2.3rem;
}

.section-info {
    position: relative;
    /* border: 0.5px solid red; */
    /* left: 2%; */
    /* margin: 4%; */
    display: flex;
    justify-content: center;
    width: 90%;
    height: 80%;
    margin: auto;
    top: -8%;
}

.intro-span {
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: 300;
    color: #d1d1d1;
}

.profile {
    border-radius: 50%;
    height: 42%;
    top: 70%;
    position: absolute;
    left: 80%;
    z-index: -1;
}

.xp-amount {
    font-size: 7rem;
    align-self: center;
}

.kb {
    align-self: center;
    font-size: 2rem;
    position: relative;
    top: 13%;
}

svg {
    /* border: 1px green solid; */
    width: 70%;
    height: 70%;
}

.pie-chart {
    height: 300px;
    width: 300px;
}

circle {
    transition: stroke-dasharray .3s ease;
}

.scroll-projects {
    display: flex;
    width: 85%;
    margin-bottom: 1%;
    color: #d1d1d1;
    font-size: 1.3rem;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
}

*::-webkit-scrollbar {
    background: #1D1D20;
}

*::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 10px;
}

.each-project {
    padding: 2%;
    display: inline-block;
    cursor: pointer;
}

.pie-text {
    font-size: 0.2rem;

}

.bar-chart {
    width: 100%;
    height: 210%;
}

.bar-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 70%;
    width: 90%;
    margin-top: 5%;
}

rect {
    fill: #3CB043;
    height: 20px;
}

.bar-chart-text {
    fill: #d1d1d1;
    cursor: pointer;
    transition: letter-spacing .3s ease;

}

.bar-chart-text:hover {
    letter-spacing: 0.2rem;
}

#grade-section {
    display: block;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 5%;

}

.each-proj-grade {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
}

#grade-section::-webkit-scrollbar {
    width: 0.5em;
}

.grade {
    padding-right: 3%;
    color: #3CB043;
}